<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

</head>

<body>
    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>
    <main>
        <section>
            <form class="" onsubmit="return handleSubmit(event)">
                <input id="userURL" type="text" name="input" value="" placeholder="Website to analyze">
                <button id="generate" type="submit"> Generate </button>
                <!--<input type="submit" name="" value="submit" onclick="return handleSubmit(event)"> -->
            </form>
        </section>


        <section>
            <strong><div id="results">Analysis results:</div></strong>
            <div id="model"></div>
            <div id="score_tag"></div>
            <div id="agreement"></div>
            <div id="subjectivity"></div>
            <div id="confidence"></div>
            <div id="irony"></div>
        </section>

    </main>

    <footer>
        <p>This is a footer</p>
    </footer>


    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>

</html>